<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/org.rapidbeans.rapidenv/src/org/rapidbeans/rapidenv/cmd/CmdRenv.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<mapAttribute key="org.eclipse.debug.core.environmentVariables">
<mapEntry key="RAPID_ENV_HOME" value="C:\Wad\sources\kdg_dev_group\environment\wss"/>
<mapEntry key="RAPID_ENV_PROFILE" value="C:\Projects\RapidEnv\environment\profile\renv_Bluemel1.Martin_L80069197"/>
<mapEntry key="RAPID_ENV_PROFILES_HOME" value="C:\Wad\sources\kdg_dev_group\environment\wss\profile"/>
<mapEntry key="RAPID_ENV_PROJECT_HOME" value="C:\Wad"/>
</mapAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.rapidbeans.rapidenv.cmd.CmdRenv"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="s"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="org.rapidbeans.rapidenv"/>
<stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="C:\Wad\sources\kdg_dev_group\environment\wss"/>
</launchConfiguration>
