<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/org.rapidbeans.rapidenv/src/org/rapidbeans/rapidenv/cmd/CmdRenv.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.rapidbeans.rapidenv.cmd.CmdRenv"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="s"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="org.rapidbeans.rapidenv"/>
<stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="/home/martin/Projects/JavaEE_Example/sources/environment"/>
</launchConfiguration>
